<main class="container">
  <%= if get_flash(@conn, :info) do %>
    <p class="alert rounded-custom bg-info text-dark" role="alert">
      <%= get_flash(@conn, :info) %>
    </p>
  <% end %>
  <%= if get_flash(@conn, :error) do %>
    <p class="alert rounded-custom bg-danger text-light" role="alert">
      <%= get_flash(@conn, :error) %>
    </p>
  <% end %>
  <%= @inner_content %>
</main>
