<div class="text-center mt-5">
  <%= form_for :room, Routes.room_path(@conn, :create), fn f -> %>
    <%= unless @user do %>
      <%= text_input f, :name, placeholder: "Your Name", 
          class: "form-control bg-dark text-white", autocomplete: "off" %>
    <% end %>
    <p class="lead mt-3">
      <%= submit "Create Room", class: "btn btn-lg btn-secondary fw-bold border-white bg-white text-dark" %>
    </p>
  <% end %>
</div>
