<h1>Join a room</h1>
<%= form_for :room, Routes.room_path(@conn, :join_room_create, @room_id), fn f -> %>
  <%= text_input f, :name, placeholder: "Name", 
      class: "form-control bg-dark text-white", autocomplete: "off" %>
  <p class="lead mt-3">
    <%= submit "+", class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
  </p>
<% end %>
